/* You can add global styles to this file, and also import other style files */

// https://material.angular.io/guide/theming
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'node_modules/angular2-toaster/src/toaster';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}